*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

html {
    font-size: 85%;
}

body {
    font: 400 1em/1.5 "Roboto Condensed", sans-serif;
    color: #212529;
    background: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}

big {
    font-size: larger;
}

small {
    font-size: smaller;
}

button {
    cursor: pointer;
}

.header {
    padding: .25em 1em;
    background: #343a40;

    &__logo {
        margin-right: 1em;
        font-size: 1.25em;
        color: #f6b93b;
    }
}

.panels {
    display: flex;
    height: 100vh;

    &__left {
        position: relative;
        flex: 0 0 25%;
        padding-bottom: 24px;
    }

    &__right {
        flex: 0 0 75%;
        border-left: 4px solid #343a40;

        a {
            color: #007bff;
        }
    }

    &__carlist,
    &__info {
        margin-bottom: 1em;
        border-bottom: 4px solid #343a40;
    }

    &__info,
    &__journal {
        padding: 0 .5em;
    }
}

.footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    text-align: center;
}

// ---

.map {
    height: 100vh;
}

.car-marker {
    width:auto !important;
    height:auto !important;
    background: rgba(255,255,255, 0.6);
    border-radius: 5px;
    border: 1.5px solid rgba(0,0,255, 0.4);
    padding: 2px 2px 0 2px;
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.25);
}

.car-marker:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -7px;
    margin-left: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid rgba(0,0,255, 0.4);
    z-index: 1;
}

.car-marker.old-data {
    border-color: rgba(255,0,0,0.4);
}
.car-marker.old-data .car-marker__title {
    background: rgba(255,0,0,0.4);
}

.car-marker.old-data:after {
    border-top-color: rgba(255,0,0,0.4);
}

.car-marker__image {
    width: 36px;
}

.car-marker__title {
    position: absolute;
    left: 0;
    min-width: 100%;
    transform: translateY(-100%);
    margin-top: -6px;
    padding: 0 2px;
    font-size: 7pt;
    color: #fff;
    font-weight: normal;
    text-align: center;
    line-height: 1.1em;
    max-height: 2em;
    overflow: hidden;
    border-radius: 2px;
    background: rgba(255,0,0,0.4);
}

// ---

.table {
    width: 100%;
    border-collapse: collapse;

    td,
    th {
        padding: .1em;
        vertical-align: top;
    }

    th {
        border: 0;
        text-align: inherit;
        font-weight: 700;
    }

    td {
        border-top: 1px solid #dee2e6;
    }
}

// ---

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-family: inherit;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

// ---

.text-muted {
    color: #6c757d;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-nowrap {
    white-space: nowrap;
}

.pl-2, .px-2 {
    padding-left: .5rem;
}

// ---

.icon-reload {
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin: 4px;
    border: 2px solid;
    border-left-color: transparent;
    border-right-color: transparent;
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: currentColor;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;


    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        border-width: 6px;
        border-style: solid;
        border-bottom-color: transparent;
        border-left-color: transparent;
    }

    &:before {
        transform: rotate(-45deg);
        right: -7px;
        top: 0;
        border-right-color: transparent;
    }

    &:after {
        transform: rotate(135deg);
        left: -7px;
        bottom: 0;
        border-right-color: transparent;
    }
}

// ---

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;

    &-primary {
        color: #004085;
        background-color: #cce5ff;
        border-color: #b8daff;
    }
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;

    & + & {
        margin-left: .5em;
    }

    &-primary {
        color: #fff;
        background-color: #007bff;
    }

    &-success {
        color: #fff;
        background-color: #28a745;
    }

    .im {
        margin-top: -1px;
        vertical-align: middle;
    }
}
